<!DOCTYPE html>
<html lang="en">
  <title>Home</title>
  <link
    rel="shortcut icon"
    href="https://image.flaticon.com/icons/png/512/1055/1055644.png"
    type="image/x-icon"
  />

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Poppins"
  />
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous"
  />
  <style>
    #cover {
      background: url("https://images.wallpapersden.com/image/download/minimal-mojave_64927_5120x2880.jpg");
      background-size: cover;
      height: 100%;
      text-align: center;
    }
    body,
    h1,
    h2,
    h3,
    h4,
    h5 {
      font-family: "Poppins", sans-serif;
    }
    body {
      font-size: 16px;
    }
    .w3-half img {
      margin-bottom: -6px;
      margin-top: 16px;
      opacity: 0.8;
      cursor: pointer;
    }
    .w3-half img:hover {
      opacity: 1;
    }
    table {
      border: 2px solid;
    }
    .tt {
      color: white;
    }
    .txtcolor {
      background: #21313c;
    }
    .a {
      color: white;
    }
    .x {
      font-family: "Kanit", sans-serif;
      text-align: center;
      color: white;
    }
  </style>
  <body>
    <!-- Sidebar/menu -->
    <section id="cover" class="min-vh-100">
      <nav
      class="w3-sidebar txtcolor w3-collapse w3-top w3-large w3-padding"
      style="z-index: 3; width: 300px; font-weight: bold"
      id="mySidebar"
    >
      <% include nav %>
      <div class="w3-container">
        <h3 class="w3-padding-64 a">
          <b>Report</b>
        </h3>
      </div>
      <div class="w3-bar-block">
        <a href="all" class="w3-bar-item w3-button w3-hover-white a x "
          >ทั้งหมด</a
        >
        <a href="PurchaseReq" class="w3-bar-item w3-button w3-hover-white a x"
          >ใบขอซื้อ</a
        >
        <a href="/Quatation" class="w3-bar-item w3-button w3-hover-white a x"
          >ใบเสนอราคา</a
        >
        <a
          href="/PurchaseOrder"
          class="w3-bar-item w3-button w3-hover-white a x"
          >สั่งซื้อสินค้า</a
        >
        <a href="/Invoice" class="w3-bar-item w3-button w3-hover-white a x"
          >ใบแจ้งหนี้</a
        >
        <a href="DeliveryNote" class="w3-bar-item w3-button w3-hover-white a x"
          >ใบส่งสินค้า</a
        >
        <a href="Receipt" class="w3-bar-item w3-button w3-hover-white a x"
          >ใบเสร็จ</a
        >
      </div>
    </nav>

      <!-- Top menu on small screens -->
      <header
        class="w3-container w3-top w3-hide-large txtcolor w3-xlarge w3-padding"
      >
        <a
          href="javascript:void(0)"
          class="w3-button txtcolor a w3-margin-right"
          onclick="w3_open()"
          >☰</a
        >
        <span class="a">Report</span>
      </header>

      <!-- Overlay effect when opening sidebar on small screens -->
      <div
        class="w3-overlay w3-hide-large"
        onclick="w3_close()"
        style="cursor: pointer"
        title="close side menu"
        id="myOverlay"
      ></div>

      <!-- !PAGE CONTENT! -->
      <div class="w3-main" style="margin-left: 340px; margin-right: 40px">
        <div class="container py-5">
          <h1 class="tt p-3">Welcome</h1>
          <iframe
            style="
              background: #21313c;
              border: none;
              border-radius: 2px;
              box-shadow: 0 2px 10px 0 rgba(70, 76, 79, 0.2);
            "
            width="100%"
            height="750"
            src="https://charts.mongodb.com/charts-project-0-dpnhp/embed/charts?id=bcdd7c1e-94fd-4f0b-aa25-c3c8f4a6577f&autoRefresh=true&maxDataAge=30&theme=dark"
          ></iframe>
        </div>
      </div>
    </section>
    <script>
      // Script to open and close sidebar
      function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
        document.getElementById("myOverlay").style.display = "block";
      }

      function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
        document.getElementById("myOverlay").style.display = "none";
      }

      // Modal Image Gallery
      function onClick(element) {
        document.getElementById("img01").src = element.src;
        document.getElementById("modal01").style.display = "block";
        var captionText = document.getElementById("caption");
        captionText.innerHTML = element.alt;
      }
    </script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
